<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
</head>
<body>
    <!--Admin Section-->
    <div class="admin-wrapper">
        <!--Top phrase-->
        <div class="top-phrase">
            <p class="top-text">Add a post</p>
        </div>
        <!--Post Form-->
        <div class="form-wrapper">
            <div class="form">
                <h2>Post Form</h2>
                <form action="" method="post" novalidate>
                    <div class="input">
                        {{ form.hidden_tag() }}
                        <!--Image URL Input-->
                        <div class="input-box">
                            {{ form.picture.label }}
                            {{ form.picture }}
                            {% for error in form.picture.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <!--Description Input-->
                        <div class="input-box">
                            {{ form.description.label }}
                            {{ form.description }}
                            {% for error in form.description.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                        <!--Post Button-->
                        <div class="input-box">
                            {{ form.submit() }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Table Section-->
    <div class="table-wrapper">
        <table class="table1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>https://miro.medium.com/max/300/0*qmnn9vY-E5i-5V7r.png</td>
                    <td>Other languages:
                        *proper description of the error*
                        Python:
                        is that like invalid syntax or something</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>https://miro.medium.com/max/300/0*Uo7smotszQoHsXho.png</td>
                    <td>When you have to write code on piece of paper for programming tests
                        Modern problems require ancient solutions</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>https://miro.medium.com/max/300/0*T9Cp1i9aEB9kvUYL.png</td>
                    <td>Programmers
                        After fixing all errors</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>https://miro.medium.com/max/289/0*dMs4k61w26XwZF5A.png</td>
                    <td>I'm a programmer
                        And I'm not gonna fix your PC</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>https://miro.medium.com/max/252/0*SqUlWQwL5UtZstM5.png</td>
                    <td>IP Man
                        Mask</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>https://miro.medium.com/max/640/0*09J7DozpiBdYccOR.png</td>
                    <td>I AM ROOT</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Footer-->
    <footer>
        <div class="first-line-footer">
            This page was made by Max and Danya using HTML5, CSS3 and Flask (Python)
        </div>
        <div class="second-line-footer">
            <ul class="social-media-menu">
                <li><img src="https://www.pngkey.com/png/full/178-1787366_coming-soon-github-white-icon-png.png" alt="mail" class="social-media-icon"><p><a href="https://github.com/maxcore25">maxcore25</a></p></li>
                <li><img src="https://doshkolniki.spb.ru/wp-content/uploads/2020/10/vk-ikonka1_2x.png" alt="mail" class="social-media-icon"><p><a href="https://vk.com/maxcore25">maxcore25</a></p></li>
                <li><img src="https://www.pngkey.com/png/full/178-1787366_coming-soon-github-white-icon-png.png" alt="mail" class="social-media-icon"><p><a href="https://github.com/MartsinovichDanya">MartsinovichDanya</a></p></li>
                <li><img src="https://doshkolniki.spb.ru/wp-content/uploads/2020/10/vk-ikonka1_2x.png" alt="mail" class="social-media-icon"><p><a href="https://vk.com/d.martsipanich">d.martsipanich</a></p></li>
            </ul>
        </div>
        <p id="confidentiality">2021© QUOTEPAGE. ALL RIGHTS RESERVED</p>
    </footer>
</body>
</html>